.citation{


  background-image: url("../../images/bg-citation.jpg");
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;


}
.citation .conteneur {

  padding: 100px;


}

.citation h3, .citation p {

  color: var(--blanc);
  text-align: left;

}
.citation p {
  padding :20px;
  margin: 0;
}


