h1 {

  font-family: var(--font-secondaire);
  font-size: 36px;

  color: var(--blanc);


}

h2{
  font-family: var(--font-secondaire);
  font-size: 80px;

  color: var(--blanc);


}

h3{
  font-family: var(--font-principale);
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;

  color: var(--noir);


  padding-top: 60px;
}

h4{
  font-family: var(--font-principale);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;

  color: var(--noir);


}